$primary-color : #286dc2;
$secondary-color : #f7f4f6;

.clearfix {
    overflow: auto;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        .container-wrapper .container {
            max-width: 100%;
            .calender-wrap { 
                .week-heading div {
                    width: 10%;
                }
                .all-weeks {
                    .day-of-week {
                        width: 10%;
                    }
                    .active {
                        width: 9%;
                    }
                }
            }

        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body {
        .container-wrapper .container {
            max-width: 100%;
            .calender-wrap { 
                .week-heading div {
                    width: 10%;
                }
                .all-weeks {
                    .day-of-week {
                        width: 10%;
                    }
                    .active {
                        width: 9%;
                    }
                }
            }

        }
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        .container-wrapper .container {
            max-width: 60%;
            .calender-wrap { 
                .week-heading div {
                    width: 11.6%;
                }
                .all-weeks {
                    .day-of-week {
                        width: 11.6%;
                    }
                    .active {
                        width: 10%;
                    }
                }
            }

        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {
        .container-wrapper .container {
            max-width: 60%;
            .calender-wrap { 
                .week-heading div {
                    width: 12.5%;
                }
                .all-weeks {
                    .day-of-week {
                        width: 12.5%;
                    }
                    .active {
                        width: 11%;
                    }
                }
            }

        }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body {
        .container-wrapper .container {
            max-width: 60%;
            .calender-wrap { 
                .week-heading div {
                    width: 12.6%;
                }
                .all-weeks {
                    .day-of-week {
                        width: 12.6%;
                    }
                    .active {
                        width: 11%;
                    }
                }
            }

        }
    }
}

.container-wrapper {

    text-align: center;

    .container {

        background-color: $primary-color;
        border: 5px solid $secondary-color;
        border-radius: 5px;
        display: inline-block;
        max-width:  60%;
    
        .header {
    
            h1 {
                color: #ffffff;
                font-size: 40px;
                font-weight: 400;
                margin: 10px;
            }
    
            .arrow-link {
    
                display: inline-block;
                padding: 0 10px;
                padding-top: 2px;
                vertical-align: middle;
        
                a {
                    color: #ffffff;
                    font-size: 20px;
                    text-decoration: none;
                    vertical-align: middle;
                }
            }

            .dropdown-wrap {

                display: inline-block;
                vertical-align: middle;

                .month-select {
        
                    background: transparent;
                    border: none;
                    color: #ffffff;
                    cursor: pointer;
                    font-size: 20px;
                    -webkit-appearance: none;
    
                    &:focus {
                        outline: none;
                    }
            
                }

            }
    
        }
    
        .calender-wrap {
    
            margin : 10px;
            text-align: center;
    
            .week-heading {
    
                background: $secondary-color;
                border-radius: 5px;
                margin: 10px 0;
                padding: 10px;
    
                div {
                    color: $primary-color;
                    float: left;
                    font-size: 20px;
                    margin: 10px 5px;
                    width: 12.6%;
                }
            }
    
            .all-weeks {
    
                background: $secondary-color;
                border-radius: 2px;
                padding: 10px;
    
                    
                .day-of-week {
                    background: $primary-color;
                    border-radius: 9px;
                    color: #ffffff;
                    float: left;
                    height: 20px;
                    margin: 10px 5px;
                    padding: 10px 0;
                    width: 12.6%;
                }
    
                .day-of-week-empty {
                    background-color: $secondary-color;
                    border-radius: 9px;
                    color: #ffffff;
                    float: left;
                    height: 20px;
                    margin: 10px 5px;
                    padding: 10px 0;
                    width: 12%;
                }
    
                .greyed-tile {
                    opacity: 0.4;
                }
    
                .active {
                    background-color: $secondary-color;
                    border: 4px solid $primary-color;
                    color: $primary-color;
                    height: 20px;
                    padding: 6px 0px;
                    width: 11%;
                }
    
    
            }
    
           
        }
    
    
    }

}